* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: coral;
  width: 500px;
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  padding: 25px;
}
.heading {
  font-size: 28px;
}
.word {
  width: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  outline: none;
}

button {
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  background: green;
  color: white;
  font-size: 20px;
}

.translatedDiv {
  display: none;
}
